body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

ul { list-style: none; padding-left: 5px; }

a { color:blue; text-decoration: none;}

.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}

.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
    text-align: center;
}

.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}

.sidebar {
    border-right: solid 1px #cdcdcd;
}

figure {
    text-align: center;
}

.logo {
    margin: 0px;
}

.video{
    margin-left: 100px;
}
.series{
    text-align: center;
    padding: 0;
    list-style: none;
    background: #f2f2f2;

}
.series li a{
    display: block;
    padding: 30px 25px;
    color: #333;
    text-decoration: none;
    
}
.series li a:hover{
    color: #fff;
    background: #939393;
}
.button{
   margin-left: 53vh;
}
.links{
    text-align: center;
    padding: 0;
    list-style: none;
    background: #f2f2f2;

}
.links li a{
    display: block;
    padding: 30px 25px;
    color: #333;
    text-decoration: none;
    
}
.links li a:hover{
    color: #fff;
    background: #939393;
}
h2{
    text-align: center;
}